.contact-info {
    background-color: #efdce3;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(60, 162, 13, 0.1);
}

.contact-info h2 {
    margin-bottom: 10px;
    margin-top:10px ;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 5px;
}

.contact-info ul li strong {
    margin-right: 5px;
}
